<nav class="menu">
    <div class="logo">
        <a href="/">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
        </a>
    </div>

    <div class="links">
        <a href="{{ url_for('animais.animais') }}"
           class="{% if request.endpoint == 'animais.animais' %}ativo{% endif %}">
            Animais
        </a>

        <a href="{{ url_for('animais.cadastrar_animal') }}"
           class="{% if request.endpoint == 'animais.cadastrar_animal' %}ativo{% endif %}">
            Cadastrar Animal
        </a>

        <a href="{{ url_for('adocao.animais_adocoes_usuario') }}"
           class="{% if request.endpoint == 'adocao.animais_adocoes_usuario' %}ativo{% endif %}">
            Minhas Adoções
        </a>

        {% if current_user.is_authenticated %}
            <a href="{{ url_for('usuario.perfil', usuario_id=current_user.id) }}"
               class="{% if request.endpoint == 'usuario.perfil' %}ativo{% endif %}">
                Meu Perfil
            </a>
        {% else %}
            <a href="{{ url_for('auth.login') }}"
               class="{% if request.endpoint == 'auth.login' %}ativo{% endif %}">
                Login
            </a>
        {% endif %}
    </div>
</nav>
