
body {
    background-color: #f1f1f1;
    margin: 0;
}

.logo img {
    width: 120px;
    height: auto;
}

.lado-dir img {
    width: 120px;
    height: auto;
}

.logo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.img img {
    width: 100%;
    height: auto;
    margin-top: 0; 
}
.cinza {
    background-color: #e5e5e5;
    padding: 12px;
    border-radius: 8px;
    width: fit-content; 
}

.animal-card {
    display: flex;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 15%;
    flex-direction: column;
}

.info-animal {
    max-height: auto;
    text-align: center;
}

.animal-card img {
    padding-top: 15px;
    max-width: 60%;
    height: auto;
}

.foto-animal {
    display: flex;
    max-height: 60%;
    align-content: center;
    justify-content: center;
    
}

.titulo1 {
    color:#0B6623;

}

.animais {
    display: flex;
    flex-direction: row;
    gap: 5%;
}