
body {
    background-color: #f1f1f1;
    margin: 0;
}

.logo img {
    width: 120px;
    height: auto;
}

.lado-dir img {
    width: 120px;
    height: auto;
}

.logo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.img img {
    width: 100%;
    height: auto;
    margin-top: 0; 
}
.cinza {
    background-color: #e5e5e5;
    padding: 12px;
    border-radius: 8px;
    width: fit-content; 
}

.animal-card {
    display: flex;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
    height: 400px;
    flex-direction: column;
}

.info-animal {
    max-height: auto;
    text-align: center;
}

.animal-card img { 
    display: flex; 
    padding-top: 15px; 
    max-width: 60%; 
    height:fit-content; 
    justify-self: center; 
    align-self: center; 
}

.imagem-animal {
    display: flex;
    background-color: black;
    height: 90%;
    width: 60%;
    justify-self: center;
    align-self: center;
}


.foto-animal {
    display: flex;
    height: 60%;
    align-content: center;
    justify-content: center;
}

.titulo1 {
    color:#0B6623;

}

.animais {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.card_link{
    text-decoration: none;
    color: inherit;
}