body {
    margin: 0;
    min-height: 100vh;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url("../static/img/fundo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.4;
    z-index: -1;
}

body {
    background-color: #f1f1f1;
}

.container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 90vh;
    flex-direction: column;
}

.container h1{
    text-align: center;
    color: #021d09;
}

.animais {
    /* border: 3px solid greenyellow; */
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin: 10px;
}

.animal-card {
    display: flex;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
    height: 400px;
    flex-direction: column;
    border-radius: 10px;
}

.info-animal {
    max-height: auto;
    text-align: center;
}

.animal-card img { 
    display: flex; 
    padding-top: 15px; 
    max-width: 60%; 
    justify-self: center; 
    align-self: center; 
    max-height: 230px;
}

.imagem-animal {
    display: flex;
    background-color: black;
    height: 90%;
    width: 60%;
    justify-self: center;
    align-self: center;
}


.foto-animal {
    display: flex;
    height: 60%;
    align-content: center;
    justify-content: center;
}

.titulo1 {
    color:#0B6623;

}

.card_link{
    text-decoration: none;
    color: inherit;
}

.img-grande {
    display: flex;
    width: 100%;
}

.img-grande img {
    width: 100%;
    height: auto;
}