
body {
    background-color: #f1f1f1;
    margin: 0;
}

.logo img {
    width: 120px;
    height: auto;
}

.logo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90vh;
    flex-direction: column;
}

.container2 {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: fit-content;
    gap: 5%;
}

.container2 form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    border-radius: 10px;
    width: 50%;
    height: fit-content;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
    gap: 8px;
    padding: 15px;
}

.container2 form h1 {
    text-align: center;
    color: black;
}

.container2 form input {
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 7px;
}

.linha {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.linha input {
    display: inline-block;
    width: 100%;
    flex: 1;
}

.linha button {
    background-color: #024513;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 150px;
    height: fit-content;
}

.img2{
    display: flex;
    justify-content: center; 
    align-items:center; 
    width: 20%;
}

.img2 img {
    height: 500px;
    border-radius: 10px;

}

/* PÁGINA DE CADASTRO DE ANIMAL */

.container3 {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: fit-content;
    gap: 5%;
    margin: 50px;
}

.container3 form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    border-radius: 10px;
    width: 50%;
    height: fit-content;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
    gap: 8px;
    padding: 15px;}

.container3 form input {
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 7px;
}

/* PÁGINA DE LOGIN */

.container4 {
    display: flex;
    justify-content: center;
    align-content: center;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: fit-content;
    gap: 5%;
}

.container4 form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    border-radius: 10px;
    width: 50%;
    height: 420px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
    gap: 8px;
    padding: 15px;
}

.container4 form h1 {
    text-align: center;
    color: black;
}

.container4 form input {
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 7px;
}