body {
    margin: 0;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url("../static/img/fundo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.4;
    z-index: -1;
}

body {
    background-color: #f1f1f1;
}

.logo img {
    width: 120px;
    height: auto;
}

.logo {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 80px);
    flex-direction: column;
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container2 .perfil-form {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 10px;
    width: 65%;
    max-width: 900px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
    gap: 14px;
    padding: 20px;
}

.container2 .perfil-form h1 {
    text-align: center;
    color: black;
    margin-bottom: 10px;
}

.perfil-form p {
    margin: 10px 0 4px;
    font-weight: 600;
    font-size: 14px;
    color: #333;
}

.container2 .perfil-form input {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 14px;
}

.linha {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.botoes {
    display: flex;
    justify-content: center;
}

.botoes form {
    all: unset;
}

.botoes button {
    background-color: #0B6623;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 195px;
    border-radius: 5px;
    padding: 10px;
    font-size: 17px;
}

.botoes button:hover {
    color: rgb(255, 251, 34);
}
