h1, h2, h3, p, a {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


body {
    background-color: #f1f1f1;
    margin: 0;
}


.logo img {
    width: 120px;
    height: auto;
}

.lado-dir img {
    width: 120px;
    height: auto;
}


.menu a, .menu span {
  white-space: nowrap; 
  color: red;
}

.logo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    justify-content: space-evenly;
    gap: 10px; 
    max-height: 95%;
    align-items: flex-start;
    max-width: 100%;
    margin: 0 auto;
}

.container form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    height: 500px;
    width: 55%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.container form input {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.container form input[type="submit"] {
    background-color: #0B6623;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 150px;
}

.img img {
    height: 543px;
    margin-top: 0; 
}

.linha {
    display: flex;
    gap: 10px;
}

.linha input {
    display: inline-block;
    width: 100%;
    flex: 1;
}

.cinza {
    background-color: #e5e5e5;
    padding: 12px;
    border-radius: 8px;
    width: fit-content; 
}