{% extends 'base.html' %}

{% block titulo %}Adoções{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">{% endblock %}

{% block conteudo %}

<h1>ADOÇÕES</h1>

<div class="container">
<div class="animais">
    {% for adocao in adocoes %}
    <div class="animal-card">
        <img src="{{ adocao.animal.foto }}">
        <h3>{{ adocao.animal.nome }}</h3>
        <p>{{ adocao.animal.raca }}</p>
        <p>{{ adocao.animal.idade }} anos</p>
    </div>
    {% endfor %}
</div>
</div>

{% endblock %}
