{% extends 'base.html' %}

{% block titulo %}Minhas Adoções{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{{ url_for('static', filename='padrao2.css') }}">{% endblock %}

{% block conteudo %}

<h1>ADOÇÕES</h1>

<div class="container">
<div class="animais">
    {% for animal in adocoes %}
    <a class="card_link" href="{{ url_for('animais.detalhes_animal', animal_id=animal.id) }}">          
        <div class="animal-card">
            <div class="foto-animal" style="background-image: url('{{ animal.foto }}');">
                <img src="{{ animal.animal.foto }}" alt="">
            </div>
            <div class="info-animal">
            <h3>{{ animal.animal.nome }}</h3>
            <p>Raça: {{ animal.animal.raca }}</p>
            <p>Idade: {{ animal.animal.idade }} anos</p>
            <p>Localização: {{ animal.animal.localizacao }} anos</p> 
            </div>
        </div>
    </a>
    {% endfor %}
</div>
</div>

{% endblock %}
