{% extends 'base.html'%}
{% block titulo %} Animais Para Adoção {% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{{ url_for('static', filename='padrao2.css') }}">{% endblock %}

{% block conteudo %}

<div class="container">
    <h1>Animais para Adoção</h1>
    <div class="animais">
       {% for animal in animais %}
        <a class="card_link" href="{{ url_for('animais.detalhes_animal', animal_id=animal.id) }}">          
        <div class="animal-card">
            <div class="foto-animal" style="background-image: url('{{ animal.foto }}');">
                <img src="{{ animal.foto }}" alt="">
            </div>
            <div class="info-animal">
                <h3>{{ animal.nome }}</h3>
                <p>Raça: {{ animal.raca }}</p>
                <p>Idade: {{ animal.idade }} anos</p>
                <p>Localização: {{ animal.localizacao }} anos</p> 
            </div>
        </div>
        </a>
        {% endfor %} 
    </div>
</div>
{% endblock %}