{% extends 'base.html'%}
{% block titulo %} Cadastro de Usuário {% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{{ url_for('static', filename='padrao.css') }}">{% endblock %}
{% block conteudo %}
{% with mensagens = get_flashed_messages(with_categories=true) %}
        {% if mensagens %}
            {% set categoria, mensagem = mensagens[0] %}
            <p class="{{ categoria }}">{{ mensagem }}</p>
        {% endif %}
{% endwith %}
<div class="container">
    <div class="container2" >
        <form action="{{ url_for('auth.cadastro') }}" method="post">
        <h1>Formulário de Cadastro</h1>
        Nome de Usuário <input type="text" name="nome_form" required>
        Nome completo <input type="text" name="nome_completo_form" required>
        <div class="linha">
            Telefone para contato <input type="text" name="telefone_form" required>
            Email <input type="email" name="email_form" required> 
        </div>       
        Senha <input type="password" name="senha_form" required>
        <div class="linha">
            Rua <input type="text" name="rua_form" required>
            Bairro <input type="text" name="bairro_form" required>
        </div>
        <div class="linha">
            Cidade <input type="text" name="cidade_form" required>
            Numero <input type="text" name="numero_form" required>
        </div>
        <div class="linha">
            Complemento <input type="text" name="complemento_form">
            Estado <input type="text" name="estado_form" required>
        </div>
        <input type="submit" value="Enviar">
    </form>
    <div class="img2">
        <img src="../static/img/mulher com cachorro.png" alt="mulher-com-cachorro">
    </div>
    </div>
</div>


{% endblock %}

