{% extends 'base.html'%}
{% block titulo %} Formulário {% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{{ url_for('static', filename='cadastro_animal.css') }}">{% endblock %}

{% block conteudo %}

<div class="container";>
    <div class="img">
        <img src="../static/img/1-adocao.jpg" alt="">
    </div>
    <form action="{{ url_for('animais.cadastrar_animal') }}" method="POST">
        <h1 style="margin-top: 1px; margin-bottom: 1px;">Coloque-me para adoção!</h1>
        Nome: <input type="text" name="nome_form">
        Raça: <input type="text" name="raca_form">
        <div class="linha">
            Idade: <input type="number" name="idade_form">
            Sexo: <input type="text" name="sexo_form"> 
            Porte: <input type="text" name="porte_form">
        </div>
        <div class="linha">
        Vacinado? <input type="checkbox" name="vacinado_form">
        Vacinas tomadas: <input type="text" name="vacinas_tomadas_form">
        </div>
        Sobre: <input type="text" name="sobre_form">
        Foto (Link para uma foto do animal): <input type="text" name="foto_form">
        Localização: <input type="text" name="localizacao_form">
        <div class="linha">
            Nome do protetor: <input type="text" name="nome_protetor_form">
            Telefone para contato: <input type="text" name="telefone_contato_form">
        </div>
        Email contato: <input type="text" name="email_contato_form">
        <input type="submit" value="Enviar">
    </form>
    </div>

{% endblock %}
